# Java / Maven build artifacts
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# IDE settings
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs & Temp files
*.log
temp/
tmp/
